.main {
    font-family: 'Work Sans';  
    
}



.heading {
    font-family: 'Work Sans';
    font-weight: 600; 
    font-size:38px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    /* color: #219EBC; */
}
.title {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 600; 
    font-size:28px;
}

.inputFieldDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.input {
    width: 90%;
    height: 45px;
    background-color: #f0f5f5;
    border: none;
    border-radius: 5px;
   
}
.inputFile {
    width: 20%;
    height: 45px;
    background-color: #f0f5f5;
    border: none;
    border-radius: 5px;

}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 600; 
    font-size:28px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 600; 
    font-size:14px;
    height: 35px;
    width: 100px;
    background-color:#333333;
    color: white;
    border: none;
}

.submit {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: 600; 
    font-size:14px;
    height: 45px;
    width: 140px;
    background-color: #22577A;
    border: none;
    color: white;
}